/* Colores por tipo */

.normal {
    background-color: var(--type-normal);
    color: black;
}

.fire {
    background-color: var(--type-fire);
    color: black;
}

.water {
    background-color: var(--type-water);
    color: white;
}

.grass {
    background-color: var(--type-grass);
    color: black;
}

.electric {
    background-color: var(--type-electric);
    color: black;
}

.ice {
    background-color: var(--type-ice);
    color: black;
}

.fighting {
    background-color: var(--type-fighting);
    color: white;
}

.poison {
    background-color: var(--type-poison);
    color: white;
}

.ground {
    background-color: var(--type-ground);
    color: black;
}

.flying {
    background-color: var(--type-flying);
    color: white;
}

.psychic {
    background-color: var(--type-psychic);
    color: black;
}

.bug {
    background-color: var(--type-bug);
    color: black;
}

.rock {
    background-color: var(--type-rock);
    color: black;
}

.ghost {
    background-color: var(--type-ghost);
    color: white;
}

.dark {
    background-color: var(--type-dark);
    color: white;
}

.dragon {
    background-color: var(--type-dragon);
    color: white;
}

.steel {
    background-color: var(--type-steel);
    color: black;
}

.fairy {
    background-color: var(--type-fairy);
    color: black;
}