.type-filter {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 1rem;
}

.type-filter__logo {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.type-filter__list {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.type-filter__btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    border-radius: 100vmax;
    text-transform: uppercase;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.25);
    transition: 0.2s;
    border: none;
    /* Default background/color if not overridden by type class */
    background-color: #f0f0f0;
    color: #333;
}

.type-filter__btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.25);
}