@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');


:root{
    --color-grey: #ececec;

    --type-normal: #a8a878;
    --type-fire: #e08c0eef;
    --type-water: #6890f0;
    --type-grass: #78c850;
    --type-electric: #eee239;
    --type-ice: #5ce1f3ef;
    --type-fighting: #e00e0eef;
    --type-poison: #a040a0;
    --type-ground: #e0c068;
    --type-flying: #a890f0;
    --type-psychic: #f85888;
    --type-bug: #a8b820;
    --type-rock: #b8a038;
    --type-ghost: #580b5fef;
    --type-dark: #705848;
    --type-dragon: #7038f8;
    --type-steel: #b8b8d0;
    --type-fairy: #f0b6bc;

}

* {
    font-family: 'Rubik', sans-serif;
}

p{
    margin: 0;
}

h2 {
    margin: 0;
}
  

.btn-header{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight:900;
    border-radius: 100vmax;
    text-transform: uppercase;
    box-shadow: 0 0 1rem rgb(0,0,0,0.25);
    transition: 0.2s;
}

.btn-header:hover{
    transform: scale(1.2);
    box-shadow: 0 0 1rem rgb(0,0,0,0.25);
}

header{
    
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgb(0,0,0,0.5)

}

main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    row-gap: 3;
}

.all-pokemon{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


@media screen and (min-width: 470px) {
    .all-pokemon{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px){
    .all-pokemon{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.pokemon-target{
    border-radius: 1rem;
    background-color: white;
    padding-block: 1rem;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden; 
}



.pokemon-identity{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-identity .pokemon-id{
    background-color: var(--color-grey);
    font-size: 0.75rem;
    border-radius: 100vmax;
    padding: 0.2rem 0.5rem;
}

.pokemon-types-container{
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-type-badge{
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 100vmax;
}

.pokemon-stats{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.stat{
    background-color: var(--color-grey);
    border-radius: 100vmax;
    padding: 0.1rem 0.5rem;


}
  

.pokemon-id-back{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    color: var(--color-grey);
    z-index: -1; 
}

.pokemon-image{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-image img{
    width: 100%;
    max-width: 6rem;
}

.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}



.poke-logo {

    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Asegura que el texto también se centre */
    flex-direction: column; /* Organiza los elementos en columna */
    width: 100%; /* Se expande a todo el ancho del nav */
}


.nav{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 1rem;
}

.nav-list{
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    
}

body{
    background-color: var(--color-grey);
    min-height: 100vh;

}





.normal{
    background-color: var(--type-normal);
    color: black;
}

.fire {
    background-color: var(--type-fire); /* Usa la variable */
    color:  black; /* Texto blanco para mejor contraste */
}

.water {
    background-color: var(--type-water); /* Usa la variable */
    color: white; /* Texto blanco para mejor contraste */
}

.grass {
    background-color: var(--type-grass); /* Usa la variable */
    color: black; /* Texto blanco para mejor contraste */
}

.electric {
    background-color: var(--type-electric); /* Usa la variable */
    color: black; /* Texto blanco para mejor contraste */
}

.ice {
    background-color: var(--type-ice); 
    color: black; 
}

.fighting {
    background-color: var(--type-fighting); /* Usa la variable */
    color: white; 
}

.poison {
    background-color: var(--type-poison); /* Usa la variable */
    color: white; /* Texto blanco para mejor contraste */
}

.ground {
    background-color: var(--type-ground); 
    color: black; 
}

.flying {
    background-color: var(--type-flying); /* Usa la variable */
    color:  white; /* Texto blanco para mejor contraste */
}

.psychic {
    background-color: var(--type-psychic); /* Usa la variable */
    color:  black; /* Texto blanco para mejor contraste */
}

.bug {
    background-color: var(--type-bug); /* Usa la variable */
    color:  black; /* Texto blanco para mejor contraste */
}

.rock {
    background-color: var(--type-rock); /* Usa la variable */
    color:  black; /* Texto blanco para mejor contraste */
}

.ghost {
    background-color: var(--type-ghost); /* Usa la variable */
    color: white; /* Texto blanco para mejor contraste */
}

.dark {
    background-color: var(--type-dark); /* Usa la variable */
    color: white; /* Texto blanco para mejor contraste */
}

.dragon {
    background-color: var(--type-dragon); /* Usa la variable */
    color: white; /* Texto blanco para mejor contraste */
}

.steel {
    background-color: var(--type-steel); /* Usa la variable */
    color:  black; /* Texto blanco para mejor contraste */
}

.fairy {
    background-color: var(--type-fairy); /* Usa la variable */
    color:  black; /* Texto blanco para mejor contraste */
}